.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 100;
  padding-top: 5px;
}
.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* it will manage in colums as
  we used this to show the name under the icons */
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(208, 208, 208);

}
/* New Css Techniqe to target all the images */
.sidebar-link img { /* Here we are targgeting all the images 
  so this is the trick for taget all the imeges*/
  height: 24px;
  margin-bottom: 4px;
  
}
.sidebar-link div {
  font-size: 10px;
 
}